*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.container{
    justify-content: center;
    background-color: oldlace;
}

.container h1{
    padding-top: 10px;
    justify-content: center;
}
.student-name{
    width: 50%;
    margin-left: 250px;
}
#no-name {
    display: none;
    margin-top: 2%;
}
#no-name span {
    color: #4286f4;
}
#start-btn {
    color: white;
    background: green;
    outline-style: none;
    margin-bottom: 10px;
}
#page1{
    padding: 40px;
}
#page2{
    padding: 40px;

}
#next-btn{
    color: white;
    background: green;
    outline-style: none;
    margin-bottom: 10px;

}
#submit{
    color: white;
    background: green;
    outline-style: none;
    margin-bottom: 10px;
}
#submit:hover {
    background: white;
    color: #4286f4;
    border: 1px solid #4286f4;
}
.choices {
    position: relative;
    left: 5%;
}
#page1, #page2{
    display: none;
}
